@charset "UTF-8";

// @import "node_modules/materialize-css/sass/components/variables";

$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and
(max-width : #{$medium-screen})";

$num-cols: 12;
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

$off-black: rgba(0, 0, 0, 0.87);
// Header Styles
$h1-fontsize: 4.2rem;
$h2-fontsize: 3.56rem;
$h3-fontsize: 2.92rem;
$h4-fontsize: 2.28rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1rem;

$range : $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;

@import "node_modules/materialize-css/sass/components/normalize";
@import "node_modules/materialize-css/sass/components/typography";
@import "node_modules/materialize-css/sass/components/grid";

body {
  font-family: 'Lato', sans-serif;
  transition: opacity 0.5s;
  opacity: 0;

  .wf-active & {
    opacity: 1;
  }
}

label {
  white-space: nowrap;
}

.chrome-picker {
  font-family: 'Lato', sans-serif !important;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.hidden {
  visibility: hidden;
  display: none;
}
